fastapi
fastapi-cli
flask
pytest
-e util/opentelemetry-util-http
-e opentelemetry-distro
-e opentelemetry-instrumentation
-e instrumentation/opentelemetry-instrumentation-asgi
-e instrumentation/opentelemetry-instrumentation-fastapi
-e instrumentation/opentelemetry-instrumentation-flask
-e instrumentation/opentelemetry-instrumentation-system-metrics
-e instrumentation/opentelemetry-instrumentation-wsgi
